extends layout

block content
  div.container
    div.row.align-items-start.fondo1
      div.col-auto
        h1 Administrador de Tareas
    div.row.fondo2
      div.col-auto
        form(action="")
          input.form-control(type="text" placeholder="Campo1")
          input.form-control(type="text" placeholder="Campo2")
          input.form-control(type="text" placeholder="Campo3")
          input.btn.btn-success#guardarTarea(type="submit", value="Guardar")
    div.row.fondo3
      div.col
        table.table.table-bordered
          thead.thead-dark
            tr
              th ID
              th Nombre
              th Familia
              th Año
              th Opciones
          tbody
