extends layout

block content
  div.container
    div.row.align-items-start.fondo1
      div.col-auto
        h1= title
    div.row.fondo2

      form(action="")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="submit", value="Guardar")
